* {
    /* `otf-font-awesome` is required to be installed for icons */
	/* `Material-Icons` is required for notification cneter */
    font-family: "FiraCode NerdFont Semibold", sans-serif;
    font-size: 13px;
  }

.modules-left {
    margin: 0px 0px 0px 8px;
}

.modules-right {
    margin: 0px 8px 0px 0px;
}

#workspaces button {
    min-width: 20px;
    padding: 0 5px;
    color: #888;
}

#workspaces button.focused {
    color: #fff;
    font-weight: bold;
}
